extends layouts/main_layout.pug
block styles   
    link(rel="stylesheet", href="/css/product.css")

block content 
    main 
        if prods.length>0   
            .grid
                each product in prods 
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        card__image
                            img(src="https://bubblecow.com/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBb01EIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--635ffa29153934bb008d40e17c79f5df705b6fe5/Optimized-book_editing.png", alt="A Book")
                        card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
                        card__actions
                            button.btn Add to Cart
        else
            h1 No products